.custom-wrapper {
  /* Prod build has different height than local ones, using !important for now */
  height: calc(100vh - 16px) !important;
}

.custom-layout {
  /* height: 100%; */
  --sp-layout-height: 90vh;
}

.inner-app {
  height: 100%;
}

.theme-definition-panel.saltFlexItem {
  flex-basis: 33%;
}

.sandpack-preview-panel.saltFlexItem {
  flex-basis: 66%;
}

.theme-renderer-card.saltCard {
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
}

.theme-renderer-card.saltCard {
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
}
.code-editor-card.saltCard .saltCard-content {
  padding: 0;
  height: 100%;
}

.show-code-editor-toggle.saltToggleButton {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
}

.template-picker-card {
  flex: 0 0 auto;
}
